<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Round</th>
        <th>Race</th>
        <th>Driver (Winner)</th>
        <th>Constructor</th>
        <th>Points</th>
        <th>Time</th>
        <th>Laps</th>
        <th>Circuit</th>
        <th>Location</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody class="races">
      <tr *ngFor="let race of raceResult?.RaceTable.Races" [class.champion]="race?.seasonChampion">

        <td># {{race.round}}</td>

        <td>
          <a [href]="race.url" target="_blank">
            {{race.raceName}}
          </a>
        </td>

        <td>
          <a [href]="race.Results[0].Driver.url" target="_blank">
            {{race.Results[0].Driver.givenName}} {{race.Results[0].Driver.familyName}}
          </a>
        </td>

        <td>
          <a [href]="race.Results[0].Constructor.url" target="_blank">
            {{race.Results[0].Constructor.name}}
          </a>
        </td>

        <td>
          {{race.Results[0].points}}
        </td>

        <td>{{race.Results[0].Time?.time}}</td>

        <td>{{race.Results[0].laps}}</td>

        <td>
          <a [href]="race.Circuit.url" target="_blank">
            {{race.Circuit.circuitName}}
          </a>
        </td>

        <td>
          <a href="https://www.google.com/maps/search/?api=1&query={{race.Circuit.Location.lat}},{{race.Circuit.Location.long}}" target="_blank">
            {{race.Circuit.Location.country}}, {{race.Circuit.Location.locality}}
          </a>
        </td>

        <td>
          {{ race.date | date }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="raceResult">
  <ul class="list-inline">
    <li class="square-yellow"></li>
    <li>
      Season Champion: <b>{{champion?.Driver.givenName}} {{champion?.Driver.familyName}}</b>
    </li>
    <li>
      Wins: <b class="item-bold">{{champion?.wins}}</b>
    </li>
    <li>
      Points: <b>{{champion?.points}}</b>
    </li>
  </ul>
</div>
