.champion > td {
  background-color: #fbf1a3;
}

th {
  text-align: center;
}

li {
  margin-bottom: -4px;
  padding-right: 14px;
}

a {
  color: #333;
}

.square-yellow {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border: 1px solid #000;
}
