.choose-season {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  height: 36px;
  margin-top: 15px;
  overflow: hidden;
  position: relative;
}

.choose-season label {
  float: left;
  color: #efefef;
  font-size: 16px;
  font-style: italic;
  padding: 5px;
}

.choose-season select {
  background: none;
  border: none;
  color: #e13936  ;
  float: left;
  font-size: 20px;
  font-style: italic;
  height: 34px;
  line-height: 34px;
  min-width: 100px;
  padding-left: 17px;
  font-weight: 700;
  outline: none;
}

.choose-season select option {
  font-size: 16px;
  font-weight: 600;
  color: #999;
}
