<div class="choose-season">
  <label for="season">Choose season: </label>
  <select name="season" id="season" [(ngModel)]="season" (ngModelChange)="onChange($event)">
    <option *ngFor="let season of seasons" [value]="season">{{season}}</option>
  </select>
</div>
