<header>
  <section class="top-bar">
    <div class="container">
      <div class="left-side">
        <img src="/assets/f1_logo.svg" width="160" alt="Formula 1">
        <p>F1 world champions</p>
      </div>
      <div class="right-side">
        <app-season-list [season]="season" (onChanged)="onChanged($event)"></app-season-list>
      </div>
    </div>
  </section>
</header>

<div style="text-align:center">
  <app-result-list [season]="season"></app-result-list>
</div>


