.top-bar {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  float: left;
  padding: 7px 0 14px 0;
  width: 100%;
  background: #0b0b0b !important;
}

.left-side {
  float: left;
}

.left-side p {
  color: #999;
  float: right;
  font-style: italic;
  font-size: 22px;
  padding: 18px 0 0 10px;
}

.right-side {
  float: right;
}
